:root {
  --black: #000000;
  --semi-black: #191919;
  --text: #e5e5e5;
  --error: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
}

*,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--black);
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  background: var(--semi-black);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  width: 100%;
  max-width: 400px;
}

.wrapper form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.wrapper form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper form .form-group label {
  margin-bottom: 0.25rem;
}

.wrapper form .form-group label span {
  margin-left: 0.5rem;
}

.wrapper form .form-group input {
  padding: 0.5rem;
  outline: 0;
}

.wrapper form .form-group .errors {
  height: 2rem;
}

.wrapper form .form-group span {
  color: var(--error);
  font-size: 70%;
  font-weight: 600;
  font-style: italic;
}

.wrapper form button {
  width: 100%;
  background: var(--black);
  color: var(--text);
  border: 0;
  padding: 0.8rem;
  filter: contrast(60%);
  transition: all 0.5s;
  cursor: pointer;
}

.wrapper form button:hover {
  filter: contrast(100%);
}
